---
import '../styles/global.css';
import '@fontsource/inter';

interface Props {
	title: string;
    description?: string;
}

const { title, description = "Expertly crafted cybersecurity challenges for your next exercise. Premium challenge sets for CTFs and corporate training." } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
        <meta name="keywords" content="Capture the Flag, King of the Hill, cybersecurity, CTF challenges, cybersecurity training" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
        
        <!-- Open Graph -->
        <meta property="og:title" content={title}>
        <meta property="og:description" content={description}>
        <meta property="og:type" content="website">
        
		<title>{title}</title>
	</head>
	<body class="bg-background text-primary font-sans antialiased relative min-h-screen">
        <div class="fixed inset-0 -z-50 mesh-gradient w-full h-full" aria-hidden="true"></div>
		<slot />
	</body>
</html>
